@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(240, 248, 255);
    min-height: 100vh;

}
header{
    
    background-color: rgba(0, 0, 0, 0.829);
    color: beige;
    height: 300px;
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 0.541);
}
main{
    padding: 20px;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
    padding-top: 60px;
    text-align: center;
    font-size: 3.7rem;
    
}
a{
   text-decoration: none; 
   color: azure;

}
a:hover{
    text-decoration: underline;
}
.link{
    text-align: center;
}

section{
    font-weight: 600;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px; 
    font-family: "Playpen Sans", cursive ;
    font-size: 1.5rem;
}
 .text-img{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.39);
    color: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    background-color: rgba(44, 44, 44, 0.425);
 }


/* section.img#img01{
    border-radius: 20px;
    background-color: rgb(48, 47, 47);
    background-image: url(imgs/background001.jpg);
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
} */
 
section.img#img01{
    background:rgb(48, 47, 47)  url(imgs/background001.jpg)  fixed center ;
    background-size: cover;
    border-radius: 20px;    
}

/* section.img#img02{
    border-radius: 20px;
    background-color: rgb(48, 47, 47);
    background-image: url(imgs/background002.jpg);
    background-attachment: fixed;
    background-position: center center;
    
} */
section.img#img02{
    background:rgb(48, 47, 47)  url(imgs/background002.jpg) fixed center center;
    border-radius: 20px;
}



.roda-pe{
    text-align: center;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
footer{
    background-color: rgba(0, 0, 0, 0.829);
    height: 40px;
}